#divListaEventos{
    display: none;
}
#divListaGrupos{
    display: none;
}
#divCadastroContato{
    display: none;
}
#divCadastroGrupos{
    display: none;
}
#divCadastroEvento{
    display: none;
}